In [ ]:
greetings = { 'AM' : 'Good Morning' , 'PM_12' : 'Good Noon' , 'PM_12_5' :'Good Afternoon' , 'PM_5_onwards' : 'Good Evening'} 
end_conversation = [ 'bye' , 'tata' , 'have a good day' ]
price = [ 'price' , 'cost' , 'value' , 'rate' , 'charge' ]
car_company_dict = { 'maruti' : 100000 , 'baleno' : 150000 }
input_greetings = ['hey' , 'hi' , 'hello' , 'greetings' ]
thank_var = ['thanks' , 'thankyou', 'thank' , 'thank-you' , 'oblige' , 'obliged']

In [ ]:
#!pip install datetime
#import datetime as dt
import pandas as pd
from datetime import datetime
#import time as tm
#print( datetime.strftime( pd.Timestamp( datetime.now() ) , "%d/%m/%Y %I:%M %p" ) )

In [ ]:
session_id = 1
#time_now = datetime.strftime( pd.Timestamp( datetime.now() ) , "%d/%m/%Y %I:%M %p" ) 
#print( datetime.strftime( pd.Timestamp( datetime.now() ) , "%d/%m/%Y %I:%M %p" ) )

In [ ]:
#remove punctations from string 

def remove_penctuations( my_str) :
# define punctuation
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

# remove punctuation from the string
    no_punct = ""
    for char in my_str:
        if char not in punctuations:
            no_punct = no_punct + char

    return no_punct

In [ ]:
#function get_end_conversation function to get the final response from the chatbot
def get_end_conversation() :
  return "bye"

In [ ]:
#function to get the greetings according to the time when the user has queried

def get_greetings( date_string ) :
  result = ''
  if ( "AM" in date_string) :
      result = greetings['AM']
  else :
      hrs , mins = [ int(i) for i in date_string.split()[-2]. split(":") ]
      if ( hrs == 12 and mins == 0) :  #Good Noon
          result = greetings['PM_12']
      elif ( hrs > 5 and hrs < 12 ) :   # Good Evening
          result = greetings['PM_5_onwards']
      else :     # Good Afternoon
          result = greetings['PM_12_5']
      return result

In [ ]:
# defining a funtion get_price to get the price of the car 
#price of car company 
# status :
def get_price( my_str) :
  result = ""
  flag = False
  if 'the' in my_str[0] :
    result = "the"
  else :
      result = "THE"
  for _ in my_str :
      if _ in price :
          result += " " + _
      elif _ in car_company_dict :
          flag = True
          result += " " + _ + " " + str( car_company_dict[_] ) + " rs"
      else :
          result += " " + _     
  if( flag == False ) :
    result = "I am unable to understand. Please try again"
  return result

In [ ]:
def get_thanks_reply() :
  return "You are welcome"

In [33]:

#df = pd.read_csv( '/chatbot.csv')
while( True ) :
  # taking input from the user 
  user_input, time_now= input("User- ") , datetime.strftime( pd.Timestamp( datetime.now() ) , "%d/%m/%Y %I:%M %p" ) 
  #print( user_input)
  #print( time_now)
  input_query = remove_penctuations( user_input.lower()).split() 
  
  flag = True

  if( flag ) :
    for _ in input_query :
      if _ in input_greetings :
        output = get_greetings( time_now )
        flag = False
        break
      elif _ in price or _ in car_company_dict :
        output = get_price( input_query )
        flag = False
        break
      elif _ in end_conversation : 
        output = get_end_conversation( )
        session_id += 1   # to change the session id for the different user
        flag = False
        break
      elif _ in thank_var :
        output = get_thanks_reply()
        flag = False
        break
    if( flag ) :
        output = 'I am unable to understand. Please try again'
    print( "BOT-", output)

    new_row = { 'Session ID' : session_id , 
                'Date Time' : time_now ,
                'Input Query' : user_input ,
                'Output Query' : output ,
                'Expected Query' : 'Need to be written by human' ,
                'Success' : 'Later Calculating...'
               }
    df = df.append(new_row , ignore_index = True)

#    print( df)

User- hey!!!!!
BOT- Good Evening
User- cost of baleno?
BOT- THE cost of baleno 150000 rs
User- price of Maruti?
BOT- THE price of maruti 100000 rs
User- okay!! thanks
BOT- You are welcome
User- Bye bye :)
BOT- bye
User- morning
BOT- I am unable to understand. Please try again
User- hello
BOT- Good Evening
User- cost of alto?
BOT- I am unable to understand. Please try again
User- what do you understand?
BOT- I am unable to understand. Please try again
User- the cost of baleno
BOT- the the cost of baleno 150000 rs
User- do you take rest ?
BOT- I am unable to understand. Please try again
User- bye
BOT- bye
User- tata
BOT- bye
User- greetings
BOT- Good Evening
User- thanks!!!
BOT- You are welcome
User- tata... Have a good day
BOT- bye

KeyboardInterrupt: ignored

In [ ]:
# for the input_file where the developer can refer to the dataset
df.to_csv("input_file.csv", header=['Session ID','Date Time','Input Query','Output Query','Expected Query','Success'], index=False)

In [ ]:
# making new file to update Success column of the 
df.to_csv("output_file.csv", header=['Session ID','Date Time','Input Query','Output Query','Expected Query','Success'], index=False)

In [ ]:
# after converting the dataframe to output_file.csv 
# filled the correct value for Expected Query column to 
#find the value of Success column. i.e., PASS/FAIL

temp = pd.read_csv( 'output_file.csv')
temp

    Session ID  ...               Success
0            4  ...  Later Calculating...
1            4  ...  Later Calculating...
2            4  ...  Later Calculating...
3            4  ...  Later Calculating...
4            5  ...  Later Calculating...
5            5  ...  Later Calculating...
6            5  ...  Later Calculating...
7            5  ...  Later Calculating...
8            5  ...  Later Calculating...
9            5  ...  Later Calculating...
10           5  ...  Later Calculating...
11           6  ...  Later Calculating...
12           7  ...  Later Calculating...
13           7  ...  Later Calculating...
14           7  ...  Later Calculating...
15           8  ...  Later Calculating...

[16 rows x 6 columns]

In [ ]:
!pip install fuzzywuzzy
#!pip install Levenshtein
from fuzzywuzzy import fuzz

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)

In [ ]:
# to make the Success

output_query = temp['Output Query']
expected_query = temp['Expected Query']
success = temp['Success']
j =0

for i in output_query :
  success_rate = fuzz.token_set_ratio( i, expected_query[j])
#  print( i, expected_query[j] , success_rate)
  if( success_rate >= 70) :
    success[j] = success[j].replace(success[j] , "Pass")
  else :
    success[j] = success[j].replace( success[j] , "Fail") 
  j += 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
temp

    Session ID            Date Time  ...                 Expected Query Success
0            4  24/07/2020 08:00 PM  ...                   Good Evening    Pass
1            4  24/07/2020 08:00 PM  ...   the cost of baleno 150000 rs    Pass
2            4  24/07/2020 08:00 PM  ...  the price of maruti 100000 rs    Pass
3            4  24/07/2020 08:01 PM  ...                 You're welcome    Pass
4            5  24/07/2020 08:01 PM  ...                            bye    Pass
5            5  24/07/2020 08:01 PM  ...                   Good Morning    Fail
6            5  24/07/2020 08:01 PM  ...                   Good Evening    Pass
7            5  24/07/2020 08:01 PM  ...     the price of alto 75000 rs    Fail
8            5  24/07/2020 08:02 PM  ...          price telling of cars    Fail
9            5  24/07/2020 08:02 PM  ...   the cost of baleno 150000 rs    Pass
10           5  24/07/2020 08:03 PM  ...                     no, i dont    Fail
11           6  24/07/2020 08:03 PM  ...                            bye    Pass
12           7  24/07/2020 08:04 PM  ...                            bye    Pass
13           7  24/07/2020 08:04 PM  ...                   Good Evening    Pass
14           7  24/07/2020 08:04 PM  ...                 You're welcome    Pass
15           8  24/07/2020 08:04 PM  ...                            bye    Pass

[16 rows x 6 columns]

In [ ]:
temp.to_csv("output_file.csv", header=['Session ID','Date Time','Input Query','Output Query','Expected Query','Success'], index=False)
temp

    Session ID            Date Time  ...                 Expected Query Success
0            4  24/07/2020 08:00 PM  ...                   Good Evening    Pass
1            4  24/07/2020 08:00 PM  ...   the cost of baleno 150000 rs    Pass
2            4  24/07/2020 08:00 PM  ...  the price of maruti 100000 rs    Pass
3            4  24/07/2020 08:01 PM  ...                 You're welcome    Pass
4            5  24/07/2020 08:01 PM  ...                            bye    Pass
5            5  24/07/2020 08:01 PM  ...                   Good Morning    Fail
6            5  24/07/2020 08:01 PM  ...                   Good Evening    Pass
7            5  24/07/2020 08:01 PM  ...     the price of alto 75000 rs    Fail
8            5  24/07/2020 08:02 PM  ...          price telling of cars    Fail
9            5  24/07/2020 08:02 PM  ...   the cost of baleno 150000 rs    Pass
10           5  24/07/2020 08:03 PM  ...                     no, i dont    Fail
11           6  24/07/2020 08:03 PM  ...                            bye    Pass
12           7  24/07/2020 08:04 PM  ...                            bye    Pass
13           7  24/07/2020 08:04 PM  ...                   Good Evening    Pass
14           7  24/07/2020 08:04 PM  ...                 You're welcome    Pass
15           8  24/07/2020 08:04 PM  ...                            bye    Pass

[16 rows x 6 columns]

In [ ]:
# THANK YOU :) :)
# STATUS : COMPLETED :)